In [1]:
import pandas as pd

In [16]:
data_path = './e-ViL/data/esnlive/'

In [24]:
test = pd.read_json(data_path+'esnlive_test.json',orient = 'records')
test.head()

,img_id,label,question_id,sent,explanation
0,flickr30k_003416050480.npz,contradiction,3416050480.jpg#4r1c,"A person is at a diner, ordering an omelette.",[One cannot be on a jumping horse cannot be a ...
1,flickr30k_003416050480.npz,entailment,3416050480.jpg#4r1e,"A person is outdoors, on a horse.",[a broken down airplane is outdoors]
2,flickr30k_006160193920.npz,contradiction,6160193920.jpg#1r1c,The middle aged oriental woman is watchingt v,[One is not usually flashing a giant smile whi...
3,flickr30k_006160193920.npz,entailment,6160193920.jpg#0r1e,An Asian woman is smiling at while another lad...,[another woman rows a boat is simply another l...
4,flickr30k_006160193920.npz,contradiction,6160193920.jpg#0r1c,An Asian woman is running from a dog.,[Smiling widely is not done while running from...

In [23]:
train = pd.read_json(data_path+'esnlive_train.json',orient = 'records')
train.head()

,img_id,label,question_id,sent,explanation
0,flickr30k_004564320256.npz,contradiction,4564320256.jpg#1r1c,Two old men robbing a convenience store.,[A lady and her granddaughter cannot also be t...
1,flickr30k_004564320256.npz,entailment,4564320256.jpg#1r1e,Two humans in a store.,[A lady and a granddaughter are both types of ...
2,flickr30k_004564320256.npz,neutral,4564320256.jpg#1r1n,A mother teaching her granddaughter how to run...,[Just because the old lady and her granddaught...
3,flickr30k_004564320256.npz,contradiction,4564320256.jpg#0r1c,The lady and the girl are taking a walk to the...,[The lady and girl are surrounded by newspaper...
4,flickr30k_004564320256.npz,contradiction,4564320256.jpg#2r1c,The old lady is a zombie.,"[If the old woman is a zombie, she would be tr..."

In [20]:
dev = pd.read_json(data_path+'esnlive_dev.json',orient = 'records')

In [21]:
frames = [train,test,dev]
full = pd.concat(frames)

In [22]:
len(full.index)

430796